<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>(años)</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ab laboriosam aliquam alias voluptatem, aut incidunt est nobis eum non neque harum minima provident quia autem eligendi eos quidem. Architecto?
                </p>
            </li>
            <li>
                <h2>Trabajo 2</h2> - <h3>(años)</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ab laboriosam aliquam alias voluptatem, aut incidunt est nobis eum non neque harum minima provident quia autem eligendi eos quidem. Architecto?
                </p>
            </li>
            <li>
                <h2>Trabajo 3</h2> - <h3>(años)</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ab laboriosam aliquam alias voluptatem, aut incidunt est nobis eum non neque harum minima provident quia autem eligendi eos quidem. Architecto?
                </p>
            </li>
        </ul>
    </div>
</div>
